body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(#161D6F, #227B94);
}

.form-style-4 {
    /* background-color: #393838; */
    background-color: rgba(0, 0, 0, 0.7);
     /* background-image: linear-gradient(#393838, #000000); */
    border-radius: 8px;
    padding: 30px;
    max-width: 900px;
    margin: 50px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.form-style-5 {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 30px;
    max-width: 1000px;
    margin: 50px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.text h1 {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}

.group label {
    font-weight: bold;
    display: block;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    /* margin-bottom: 5px; */
}

.form-check-label {
    margin-left: 5px;
}

label {
    font-weight: bold;
    color: #ffffff;
    font-size: 23px;
}

.form-text,
.form-number,
.form-password,
.form-textarea,
.form-select-sm {
    width: 100%;
    padding: 10px;
    border: 1px solid #B7B7B7;
    border-radius: 5px;
    transition: border 0.2s;
    font-family: 'Poppins', sans-serif;
    font-size: 22px !important;
    margin-bottom: 10px;
}

.form-text:focus,
.form-password:focus,
.form-textarea:focus,
.form-select-sm:focus {
    border-color: #00ff62;
    outline: none;
}

.form-text::placeholder,
.form-number::placeholder,
.form-password::placeholder,
.form-textarea::placeholder,
.form-select-sm::placeholder {
    color: #B7B7B7;
    /* font-style: italic; */
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.button {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-color: #26b85e;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    width: 50%;
    display: block;
    margin: 20px auto 0;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #318ced;
    color: #000000;
}

.logbutton {
    display: inline-block;
    padding: 10px 15px;
    background-color: #26b85e;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    border: none;
    text-align: center;
    text-decoration: none;
    width: 20%;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.logbutton:hover {
    background-color: #318ced;
    color: #000000;
}

.col-md-3 {
    font-weight: bold;
    color: #ffffff; 
    font-size: 20px;
}

.col-md-9 {
    color: #B7B7B7;
    font-size: 20px;
}
